%main.page
  .clean-block.tweet-new
    .container
      .block-heading
        %h2.text-info
          呟き作成画面
      = form_with(model: @tweet, local: true, url: choose_new_or_edit) do |form|
        - if @tweet.errors.any?
          #error_explanation
            %h2
              = @tweet.errors.count
              件のエラーがあります。
            %ul
              - @tweet.errors.full_messages.each do |msg|
                %li
                  = msg
        %form.block-content
          .form-group{style: "padding-bottom:50px;"}
            = form.label :content, "内容"
            = form.text_field :content, class: "form-control"
            = form.label :image, "画像"
            = image_tag(@tweet.image.url) if @tweet.image.url
            = form.file_field :image, class: "form-control"
          = form.submit "呟く", class:"form-group btn btn-primary btn-block"
