%main.page
  .clean-block.user-show
    .container
      .block-heading
        %h2.text-info
          - if @user.image.present?
            = image_tag @user.image.url, class: "avatar"
          - else
            = fa_icon "user", class: "avatar text-muted"
          #{@user.name}さんのページ！
      %ul.nav.nav-tabs
        %li.nav-item.col
          %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1", :role => "tab"}
            ツイート一覧
        %li.nav-item.col
          %a.nav-link{"data-toggle" => "tab", :href => "#tab-2", :role => "tab"}
            お気に入り
      .tab-content
        #tab-1.tab-pane.active{:role => "tabpanel"}
          - @tweets.each do |tweet|
            .tweet-block.block-content{style: "margin-top:10px;"}
              .top.clearfix
                .left-block
                  = link_to "#{tweet.user.name}", user_path(id: tweet.user.id), class: "user-name"
                  - if current_user.present? && tweet.favorite_user(current_user.id)
                    = link_to favorite_path(id: tweet.favorite_user(current_user.id).id), method: :delete do
                      = fa_icon "thumbs-up", class: "like-icon text-info"
                  - elsif current_user.present?
                    = link_to favorites_path(tweet_id: tweet.id), method: :post do
                      = fa_icon "thumbs-up", class: "like-icon text-muted"
                  - else
                    = fa_icon "thumbs-up", class: "like-icon text-muted"
                .right-block
                  - if current_user.present? && current_user.id == tweet.user.id
                    = link_to "編集", edit_tweet_path(tweet.id)
                    = link_to "削除", tweet_path(tweet.id), method: :delete, data: {confirm: "本当に削除していいですか?"}
              .content-block
                = tweet.content
        #tab-2.tab-pane{:role => "tabpanel"}
          - @user.favorites.each do |favo|
            .tweet-block.block-content{style: "margin-top:10px;"}
              .top.clearfix
                .left-block
                  = link_to "#{favo.tweet.user.name}", user_path(id: favo.tweet.user.id), class: "user-name"
                  - if current_user.present? && favo.tweet.favorite_user(current_user.id)
                    = link_to favorite_path(id: favo.tweet.favorite_user(current_user.id).id), method: :delete do
                      = fa_icon "thumbs-up", class: "like-icon text-info"
                  - elsif current_user.present?
                    = link_to favorites_path(tweet_id: favo.tweet.id), method: :post do
                      = fa_icon "thumbs-up", class: "like-icon text-muted"
                  - else
                    = fa_icon "thumbs-up", class: "like-icon text-muted"
                .right-block
                  - if current_user.present? && current_user.id == favo.tweet.user.id
                    = link_to "編集", edit_tweet_path(favo.tweet.id)
                    = link_to "削除", tweet_path(favo.tweet.id), method: :delete, data: {confirm: "本当に削除していいですか?"}
              .content-block
                = favo.tweet.content
