!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title SampleBotClone
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Alfa+Slab+One", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Allerta+Stencil", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.clean-navbar
      .container
        %a.navbar-brand.logo{:href => "/tops/index", :style => "font-family:'Alfa Slab One', cursive;font-size:24px;"} Achieve
        %button.navbar-toggler{"data-target" => "#navcol-1", "data-toggle" => "collapse"}
          %span.sr-only Toggle navigation
          %span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.ml-auto
            %li.nav-item{:role => "presentation"}
              = link_to 'HOME', root_path, class: "nav-link"
            %li.nav-item{:role => "presentation"}
              = link_to "呟き一覧", tweets_path, class: "nav-link"
              / %a.nav-link{:href => "features.html"} 呟き一覧
            %li.nav-item{:role => "presentation"}
              = link_to "呟く", new_tweet_path, class: "nav-link"
              / %a.nav-link{:href => "features.html"} 呟く
            - if logged_id?
              %li.nav-item{:role => "presentation"}
                = link_to "マイページ", user_path(current_user.id), class: "nav-link"
              %li.nav-item{:role => "presentation"}
                = link_to "ログアウト", session_path(current_user.id), method: :delete, class: "nav-link"
            - else
              %li.nav_item{:role => "presentation"}
                = link_to "サインイン", new_user_path, class: "nav-link"
              %li.nav_item{:role => "presentation"}
                = link_to "ログイン", new_session_path, class: "nav-link"

    - flash.each do |key, value|
      - key = "info" if key == "notice"
      - key = "danger" if key == "alert"
      = content_tag :div, value, class: "alert alert-#{key}"
    = yield
    %footer.footer{style: "padding:20px 0;background-color:#222425; color:#7d8288;text-align: center; height: 80px;"}
      .container
        %p
          ©︎2018 copyright kohtatojo

